@import 'animations';

@import 'header';

@import 'coverletter';

@import 'headshot';

@import 'experience';

body {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-image: url(../static/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  margin-top: 100px;
}
