@import 'animations';
$reactBlue: #00d8ff;
$mid-screen-size: 768px;

.cursor {
  color: $reactBlue;
  position: relative;
  bottom: 2px;
  animation: 2s ease-in-out infinite flash;
}

.coverletter {
  h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
      'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    font-family: 'Inconsolata', monospace;

    @media screen and (max-width: $mid-screen-size) {
      text-align: center;
      margin-top: 8px;
    }
  }

  p {
    margin-top: 10px;
    @media screen and (max-width: $mid-screen-size) {
      margin-top: 24px;
    }
  }
}
