$naranja: #ff5733;

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.experience {
  margin-left: 40px;
  margin-bottom: 20px;
}

.project-highlight {
  margin-top: 15px;
}

h4 {
  margin-bottom: 5px;
}

.dates {
  float: right;
}

.project-name {
  position: relative;
  top: -5px;
}

h6 {
  margin-top: 18px;
}

ion-icon + h6 {
  display: inline;
  position: relative;
  top: -5px;
}

hr {
  border-top: 1px solid  orangered;
  margin-top: 0;
  margin-bottom: 0;
}

ion-icon[name="pin"] {
  font-size:16px;
  color: $naranja;
}

ion-icon[name="git-branch"] {
  font-size: 24px;
  color: $reactBlue;
}

ul {
  margin-top: 5px;
  padding-left: 25px;
}

.container > .row {
  margin-top: 30px;
  margin-bottom: 15px;
}