@import 'animations';
$reactBlue: #00d8ff;

.cursor {
  color: $reactBlue;
  position: relative;
  bottom: 2px;
  animation: 2s ease-in-out infinite flash;
}

.cycle {
  animation-name: fadeInLeft;
  animation-duration: 0;
}
