$mid-screen-size: 768px;

.headshot {
  img {
    @media screen and (max-width: $mid-screen-size) {
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }

  p {
    margin-top: 5px;
    margin-bottom: 0;
    opacity: 0.5;

    @media screen and (max-width: $mid-screen-size) {
      text-align: center;
    }
  }

  p > i {
    font-size: 22px;
    margin-left: 5px;
  }

  .links {
    @media screen and (max-width: $mid-screen-size) {
      text-align: center;
    }
  }

  a + a {
    margin-left: 10px;
  }

  i:hover {
    opacity: 0.8;
  }

  i {
    color: rgb(255, 255, 255);
    font-size: 42px;
    cursor: pointer;
    transition: 0.3s;
    opacity: 0.5;
  }
}
